.createTask {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;

  margin-top: -1.6875rem;

  input {
    background: var(--gray-500);
    height: 3.375rem;
    width: 39.875rem;
    border: 1px solid var(--gray-700);
    border-radius: 8px;
    margin-right: 0.5rem;
    color: white;

    &::placeholder {
      padding: 1rem 0 1rem 1rem;
      color: var(--gray-300);
    }
  }

  button {
    background: var(--blue-dark);
    height: 3.375rem;
    width: 5.625rem;
    border: 1px solid var(--black);
    border-radius: 8px;
    color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;

    & img {
      margin-left: 0.5rem;
    }
  }
}