.container {
  max-width: 46rem;
  height: 15.25rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 1.5rem auto;
  border-top: 1px solid var(--gray-400);

  img {
    margin-top: 4rem;
    margin-bottom: 1rem;
  }

  p {
    line-height: 140%;
  }

  & p:nth-child(2) {
    font-weight: 700;
  }
}
