.container {
  max-width: 46rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  ul {
    list-style: none;
    width: 100%;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: var(--gray-500);
      border: 1px solid var(--gray-400);
      border-radius: 0.5rem;
      height: 4.5rem;
      margin-bottom: 0.75rem;
      color: white;

      div {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: left;
        margin: 0 auto 0.75rem;

        input {
          margin-left: 1rem;
          cursor: pointer;
        }

        p {
          margin-left: 0.75rem;
        }
      }
      img {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1rem;
      }

      button {
        cursor: pointer;
        background: transparent;
        border: none;
        margin-left: 0.5rem;
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(148, 141, 141, 0.5);
  z-index: 1;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 46rem;
  height: 10rem;
  background: var(--gray-400);
  border-radius: 0.5rem;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    display: flex;

    input {
      background: var(--gray-500);
      height: 3.375rem;
      width: 38rem;
      border: 1px solid var(--gray-700);
      border-radius: 8px;
      margin-right: 0.5rem;
      color: white;
      padding-left: 1rem;

      &::placeholder {
        color: var(--gray-300);
      }
    }

    button {
      background: var(--blue-dark);
      height: 3rem;
      width: 5rem;
      border: 1px solid var(--black);
      border-radius: 8px;
      color: white;
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 700;

      & img {
        margin-left: 0.5rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .modal {
    width: 22rem;
    height: 8rem;

    form {
      display: flex;
  
      input {
        background: var(--gray-500);
        height: 3rem;
        width: 15rem;
        border: 1px solid var(--gray-700);
        border-radius: 8px;
        margin-right: 0.5rem;
        color: white;
        padding-left: 1rem;
  
        &::placeholder {
          color: var(--gray-300);
        }
      }
  
      button {
        background: var(--blue-dark);
        height: 3rem;
        width: 5rem;
        border: 1px solid var(--black);
        border-radius: 8px;
        color: white;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 700;
  
        & img {
          margin-left: 0.5rem;
        }
      }
    }
  }
}

.complete-task{
  text-decoration: line-through;
  color: var(--gray-300);
}
