:root {
  --white: #fff;
  --gray-100: #e1e1e6;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500:#262626;
  --gray-600: #323238;
  --gray-700: #0D0D0D;
  --gray-800: #202024;
  --gray-900: #121214;

  --black: #0D0D0D;

  --green-300: #00B37E;
  --green-500: #00875f;

  --blue:#4EA8DE;
  --blue-dark:#1E6F9F;

  --purple:#8284FA;

  --red-500: #F75A68;
}

:focus {
  outline: transparent;
  box-shadow: 0 0 0 2px var(--green-500);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray-900);
  color: var(--gray-300);
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
